<section class="container main_page_container">
  <div class="hero">
    <h2 class="hero-h2">Пройдите точный и быстрый</h2>
    <h1 class="hero-h1">тест на определение IQ</h1>
  </div>
  <div class="hero_bottom">
    <button type="button" class="btn pass-test_btn">Пройти тест</button>
    <p class="motivation-text">
      <span class="motivation-text_yellow">
        И получите рекомендации по развитию своего интеллекта</span
      >
      и улучшению финансового благосостояния и личной жизни
    </p>
    <a class="link read-more_link" href="#">
      <img src="./images/arrow-up.png" alt="More details link" width="16" />
      <p class="link_text">Подробнее</p>
    </a>
  </div>
</section>
<section class="container general-section">
  <p class="general-section_text">
    Профессиональный IQ-тест позволяет не только определить коэффициент вашего
    интеллекта, но и выработать список рекомендаций для повышения этого
    показателя.
  </p>
</section>
<section class="container benefits_section">
  <article class="test-results-benefits">
    Также по результатам теста
    <span class="benefits-uppercase"> вы получите</span> подробные
    <span class="benefits-uppercase">советы </span>по определению наиболее
    перспективной
    <span class="benefits-uppercase"
      >для вашего типа <span class="benefits-lowercase">интеллекта</span> сферы
      деятельности,</span
    >
    которая принесет вам скорейший финансовый результат.
  </article>
  <button type="button" class="btn pass-test_btn">Пройти тест</button>
</section>
<section class="container motivative_section">
  <h3 class="motivative_header">
    Прохождение теста займет у вас не более 12 минут, а его результаты вы
    сможете использовать всю жизнь.
  </h3>
<div class="styled-about">
  <article class="about">
    Профессиональная интерпретация и детально проработанные рекомендации
    позволят вам качественно изменить все аспекты своей жизни: от финансового до
    любовного.
  </article>
</div>
  <button type="button" class="btn pass-test_btn">Пройти тест</button>
</section>
